{% extends 'base.html' %}
<!DOCTYPE html><html lang="en">
    <head><meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
     <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
     <title>Registration</title
    </head>
    <body bgcolor="cyan"> 
        {% block content %}
        <h2>Registration Form</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            {% if form.errors %}
                <ul>
                {% for field in form %}
                    {% for error in field.errors %}
                        <li style="color:red; background-color:lightpink"><strong>{{ field.label }}</strong>: {{ error }}</li>
                    {% endfor %}
                {% endfor %}
                </ul>
            {% endif %}
            <button type="submit">Register</button>
        </form>
        {% endblock %}
            <!--<div>
            {% for message in messages%}
            <h2> {{message}}</h2>
            {% endfor%}
        </div> -->
    
    </body>
    
    </html>
